{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
        <section class="share-top">
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">
   
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

        <article class="{{post_class}}">
            <header class="post-header">
                <span class="newsDate"><h4><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD'}}</time></h4><span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMM'}}</time></span><span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY'}}</time></span></span>
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    
            </header>
            <section class="post-excerpt">
                <p>{{excerpt}}&hellip;</p>
            </section>
            <section style="bottom:0px; position:absolute; border-top:1px solid #d3d3d3; font-size:12px; color:#999; width:90%">#Tags: 
               {{#tags}}<li>{{name}}</li>{{/tags}}
                | <a href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}">Comments</a>
            </section>
        </article>
    
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
   
</main>