{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<header id="site-head" {{#if @blog.cover}}style="height:150px; background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-newsDate"><h4><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD'}}</time></h4><span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMM'}}</time></span><span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY'}}</time></span></span>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{#if author}}
                <section class="author">
                    <img src="{{author.image}}" alt="Author" class="author-img" />
                    <h4>{{author.name}}</h4>
                    <p>{{author.bio}}</p>
                </section>
            {{/if}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <div class=disqusbox>
            <div>
                <hr />
                <p><strong>View or Post Comments</strong></p>
            </div>
            <div id="disqus_thread">
                <form onsubmit="my.loadDisqus();return false;" class="formBlock">
                    <input class="cmd disqusbut" type="submit" value="Load Comments">
                </form>
            </div>
            <script>
                var disqus_shortname = "matthewhailwood";
                var disqus_identifier = '{{id}}';
                var my = my || {};
                my.loadDisqus = function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                };
            </script>
            <noscript>
                Please enable javascript to 
                <a rel="nofollow" href="http://disqus.com/?ref_noscript">discus this page, powered by Disqus.</a>
            </noscript>
            <style scoped=scoped>
                @media print{
                 .disqusbox{display:none}
                }
            </style>
            <a href="http://robertclancy.net/" id="dragon">
                <span class="tooltip">Robbos Dragon!</span>
                <img src="{{asset "images/dragon.jpg"}}" />
            </a>
        </div>

        {{/post}}

    </article>
    
</main>