/******************************************************************
Theme Name: My Journey
Author: Dimitar Georgievski

*/


/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);


/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

/* Each icon is created by inserting the corret character into the 
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}


/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
    height: 100%;
    max-height: 100%;
    font-size: 55%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.6em;
    color: #3A4145;
    background-color: #f8f9fa;
    background-image:url(../images/pattern.jpg);
    background-repeat:repeat;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

a {
    color: #4a4a4a;
    transition: color ease 0.3s;
}

a:hover {
    color: rgba(105, 77, 64, 1);
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #50585D;
}


p, ul, ol {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em 1.6em;
    padding: 0 0 0 .6em;
    border-left: #8e8e8e 0.2em solid;
    color: #aaa;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;;
    font-size:0.9em;
    color: #ccc;
}

blockquote small:before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight:bold;
}

blockquote cite a { font-weight: normal; }


dl {
    margin: 1.6em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

mark {
    background-color: #ffc336;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 
        0 1px 0 rgba(0, 0, 0, 0.2), 
        0 1px 0 0 #fff inset;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width:100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: 2px solid #efefef; }

table table table { background-color: #fff; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}


/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
    position: relative;
    width: 80%;
    max-width: 700px;
}

/* Centres vertically yo. (IE8+) */
.vertical {
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.3);
    height: 58px;
    margin: 40px 0;
    border-bottom: 2px solid rgba(0,0,0,1);
}
.copyright, .poweredby{
    float: left;
    text-indent: 20px;
}

/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */

.disqusbut {
    background-color: #3A4145;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    outline: none;
    padding: 15px 50px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
}

#dragon {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Big cover image on the home page */
#site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 40% !important;
    margin-bottom: 1rem;
    color: #fff;
    background: transparent no-repeat center center;
    background-size: cover;
    border-bottom: 5px solid white;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

/* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
#blog-logo img {
	display: block;
	height: 100px;
	width: 100px;
	line-height: 0;
	border-radius: 100%;
	background: #0076a3;
	border: 4px solid rgb(255, 255, 255);
	float: left;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
	margin: -20px 20px;
}

#back {
    color: rgba(0,0,0,0.2);
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 6px;
    font-size: 16px;
}

/* The details of your blog. Defined in ghost/settings/ */

#site-head-content {
    margin-left: 20px;
}

.blog-title {
    margin: 5px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    float: left;
    color: #50585D;
}

.blog-description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 5em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: #444;
    text-indent: 10px;
}

/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    word-break: break-word;
    hyphens: auto;    
    background-color:white; 
    width: 28%; 
    min-height: 350px;
    height: 400px; 
    float:left;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
    transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
    border: 1px solid #d8d8d8;
    left: 0;
    margin: 15px 15px;
    padding: 15px;
    -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
}

/* Add a little circle in the middle of the border-top on our .post
   just for the lolz and stylepoints. */
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #d8d8d8 1px solid;
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.post-title {
    margin:0;
    width:80%;
    font-weight: bold;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 1.6rem 0 0 0;
    font-size: 0.9em;
    line-height: 1.6em;
}
.post-excerpt img {
    margin: 1.6rem 0 0 0;
    width:auto;
    height:100px
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #9EABB3;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}
.newsDate {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    display: block;
    text-align: center;
    line-height: 1;
    width: 40px;
    padding: 0.1em;
    background-color: rgba(105, 77, 64, 0.6);
    -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    
}
.newsDate.inlineBox {
	position: static;
}
.newsDate h4 {
	margin:0 auto;
	font-size:1.4em;
	line-height:1.2em;
	color:white !important;
}
.newsDate span {
	width:100%;
	padding:0.1em 0;
	font-weight:400;
	display:block;
	font-size:small;
	text-transform:uppercase;
	color:white
}
.button-rounded {
    width:32px;
    height:32px;
    background: url(../images/icon-up.png) no-repeat;
    z-index:999;
    position:absolute;
    margin-top: 10px;
    margin-left: -6px;
    border:none;
}

.button-jump-top {
    bottom: 10px;
    right: 20px;
    position: absolute;
}
.share-top{
    float: right;
    position: absolute;
    width: 140px;
    top: 40px;
    right: 5px;
}


.share-top a {
    font-size: 1.8rem;
	display: inline-block;
	margin: 1.4rem 0.1rem 1.6rem 0;
	color: white;
	background-color: #ddd;
	padding: 7px;
	
	
}

.share-top a:hover {
   	color: white;
	background-color: #7FC4DA;
	transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
-o-transition: 0.2s ease-in;

}
/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

/* Tweak the .post wrapper style */
.post-template .post {
    margin: 20px auto !important;
    padding-bottom: 0;
    width:80%;
    float: none;
    height:auto
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
    display: none;
}

/* Insert some mad padding up in the header for better spacing */
.post-template .post-header {
    padding: 60px 0;
}

.post-content img {
    display: block;
    margin: 0 auto;
    height:auto
}


/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 2rem 0;
    padding: 2rem;
    border-top: #DADADA 1px solid;
    background-color: #EDF1F3;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}
.post-footer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid white;
    float: left;
    margin-right: 10px;
    margin-top: -12px;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
}

.post-footer .share a:hover {
    color: #50585D;
}

.post-newsDate {
    position: absolute;
    top: 1em;
    left: -4em;
    z-index: 2;
    display: block;
    text-align: center;
    line-height: 1;
    width: 50px;
    padding: 0.5em;
    background-color: rgba(105, 77, 64, 0.6);
    -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    
}
.post-newsDate.inlineBox {
	position: static;
}
.post-newsDate h4 {
	margin:0 auto;
	font-size:2.5em;
	line-height:1em;
	color:white !important;
}
.post-newsDate span {
	width:100%;
	padding:0.1em 0;
	font-weight:400;
	display:block;
	font-size:large;
	text-transform:uppercase;
	color:white
}
/* ==========================================================================
   6. Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}


/* ==========================================================================
   7. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 95%;
    margin: 2rem auto;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    color: #9EABB3;
    text-align: center;
    clear: both;
}

.pagination a {
    color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #BBB 2px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #525F68;
}


/* ==========================================================================
   8. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0;
    border-top: #EBF2F6 1px solid;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7em;
    color: #BBC7CC;
    text-align: center;
    background: #3F3F3F;
    clear:both;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #50585D;
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

/* The subscribe icon on the footer */
.subscribe {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -15px;
    border: #EBF2F6 1px solid;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 50px;
    background: #fff;
    transition: box-shadow 0.5s;
}

/* The RSS icon, inserted via icon font */
.subscribe:before {
    color: #D2DEE3;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 9px;
    font-weight: bold;
    transition: color 0.5s ease;
}

/* Add a box shadow to on hover */
.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover:before {
    color: #50585D;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
    opacity:0;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    position:absolute;
    top: -23px;
    left: -23px;
    color: rgba(255,255,255,0.9);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background: #50585D;
    border-radius:20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
    content:"";
    border-width:5px 5px 0 5px;
    border-style:solid;
    border-color: #50585D transparent;
    display:block;
    position:absolute;
    bottom:-4px;
    left:50%;
    margin-left:-5px;
    z-index: 220;
    width:0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}

#dragon:hover .tooltip {
    opacity: 1;
    top: -33px;
}
/* ==========================================================================
   9. Media Queries - Smaller than 1170px
   ========================================================================== */

@media only screen and (max-width: 1170px) {

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
        width:25%;
    }
    
}

/* ==========================================================================
   9. Media Queries - Smaller than 990px
   ========================================================================== */

@media only screen and (max-width: 990px) {

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
        width:40%;
    }
    
}
/* ==========================================================================
   9. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

    blockquote {
        margin-left: 0;
    }

    #site-head {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        min-height: 240px;
        padding: 10% 0;
    }

    .blog-title {
        font-size: 4rem;
        letter-spacing: -1px;
    }

    .blog-description {
        font-size: 1.7rem;
        line-height: 5em !important;
    }
    .vertical {
        margin: -20px 0 40px 0;        
    }

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
        width:auto;
    }

    .post-template .post {
        padding-bottom: 1rem;
    }

    .post-template .post-header {
        padding: 40px 0;
    }

    h1 {
        font-size: 4.8rem;
        text-indent: -2px;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.3rem;
    }

    h4 {
        font-size: 2.8rem;
    }
    .share-top {
        visibility:hidden   
    }
.post-excerpt p {
	font-size: 1.7rem;
}

}

/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

    #blog-logo img {
 	 max-width:80px;
        max-height: 80px;
        margin: -20px 5px;
    }
    
    .inner, 
    .pagination {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .post {
        width:auto;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 0.8em;
        line-height: 1.6em;
    }

    #site-head {
        padding: 10% 0;
    }
    .vertical{
        margin: -10px 0;
    }

    .blog-title {
        font-size: 3rem;
        margin: 4px 0 4px 10px;
    }

    .blog-description {
        font-size: 1.5rem;
        float: left;
        line-height: 1em !important;
    }
    .share-top {
        visibility:hidden   
    }

    h1, h2 {
        font-size: 3rem;
        line-height: 1.1em;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    .post-template .post-header {
        padding: 30px 0;
    }
.post-excerpt p {
	font-size: 1.7rem;
}
    .post-meta {
        font-size: 1.3rem;
    }
    .post-newsDate{
        top: -1em;
        left: 80%;
    }
    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }

    .post-footer .author {
        margin: 0 0 2rem 0;
        padding: 0 0 1.6rem 0;
        border-bottom: #EBF2F6 1px dashed;
    }

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }
    .post-footer img{
       float: none;
        margin-right: 0;
        margin-top: 0;
    }

    .older-posts,
    .newer-posts {
        position: static;
        margin: 10px 0;
    }

    .page-number {
        display: block;
    }

    .site-footer {
        margin-top: 6rem;
        font-size: 1.1rem;
    }

}
/* ==========================================================================
   10. Media Queries - Smaller than 300px
   ========================================================================== */


@media only screen and (max-width: 300px) {
    .vertical{
        height: 60px;
    }
    .blog-title {
        font-size: 2.5rem;
        margin: 4px 0 4px 0;
        text-align: center;
        float: none;
    }
    .blog-description {
        font-size: 1.5rem;
        float: left;
        line-height: 1em !important;
        text-align: center;
        float: none;
    }
	.post {
	width:auto;
}
.post-excerpt p {
	font-size: 1.5rem;
}
    
}
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */